* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #3f2860;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #80cbc4;
    background-image: url(sunrise.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

header a {
    text-decoration: none;
    color: #fff;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 0;
    text-align: center;
    gap: 40px;
}

nav a {
    margin-bottom: 1em;
    padding: 1em;
    text-decoration: none;
    margin: 0;
}

nav a:link {
    color: #3f2860;
}

nav a:visited {
    color: #497777;
}

h1 {
    margin-left: 145px;
    padding-top: 40px;
    background-image: url(lighthouselogo.jpg);
    background-repeat: no-repeat;
    font-size: 38px;
}

main {
    display: block;
}

h2 {
    margin-bottom: 12px;
}

table,
td,
th {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    height: 30px;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

tr:nth-of-type(even) {
    background-color: #dbe8e9;
}

form {
    padding: 13px;
}

label {
    float: left;
    display: block;
    width: 210px;
    text-align: right;
    padding-right: 15px;
}

input,
textarea {
    margin-top: 10px;
    display: block;
}

input[type="submit"] {
    margin-left: 210px;
    width: 110px;
}

.list {
    margin-left: 42px;
}

.main {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.n-e {
    width: 465px;
}

.refer {
    width: 465px;
    height: 50px;
}

.text {
    width: 465px;
}

.conteneur {
    margin-left: 25px;
    margin-right: 25px;
}

.table {
    margin: auto;
    margin-top: 10px;
}

.heure {
    width: 205px;
}

.cours {
    width: 485px;
}

.studio {
    font-style: italic;
}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    width: 100vw;
    max-width: 1023px;
    margin: auto;
}

.img {
    width: 100%;
    height: 280px;
}

#yogalounge {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 0;
}

footer {
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    margin-bottom: 35px;
}